body 

{ 
    background-color: #d4d3d3;
}
   
#main{
    
 background-color: #d4d3d3;   
    
}
   .info{
            
     background-color:dodgerblue;
                  
    
       
}
.tm-footer ul li{
    
    list-style-type: none;
}



   .info:hover{
            
     background-color:white;
       
}
#des{
    
 font-style: italic;   
    word-spacing: 2px;
    
}     

   .info:active{
            
     background-color: aqua;
       
}

.myborder{
    border-width: 10px;
    border-color:powderblue;
    border-left-style:solid;
    border-right-style:solid;
        border-bottom-style: solid;
    border-top-style:solid;
    
}
#muaz ol{
    list-style-position: inside;
}

ul{
 list-style-type: none;
     margin: 0px;
    padding: 0px;
    width: 100%; 
  
}
#navcontainer
{
    position: fixed;
    background-color:darkgray;
    left: 0;
    right: 0;
    top: 0;
    height: 90px;
        z-index: 2;
}

ul li{
   width: 200px;
    float: left;
    background-color:darkgray;

}

li a{
   display: block;
    color:black;
    padding: 12px 0 8px 16px; 
   
}

li a:hover{
    
    background-color:dimgray;
color: white;
   height:70px;  
}

.drop-item{
    
  display: none;
    position: relative;
    color: darkolivegreen;
     text-align: center;
    
}
.dropdownlist:hover .drop-item{
    
 display: block;
   
}









