body 

{ 
    background-color: #d4d3d3;
}
   
#main{
    
 background-color: #d4d3d3;   
    
}
   

.tm-footer ul li{
    
    list-style-type: none;
}



   .myborder:hover{
     background-color: white;      
}

.marquee{
 background-color: darkgray;
            color: white;
            padding: 5px;
            box-shadow: 0 0 15px black;
            border-radius:20px;
}

#des{
    
 font-style: italic;   
    word-spacing: 2px;
    
}     

   .info:active{
            
     
       
}

.myborder{
   
    padding: 20px;
            margin: 20px;
            border-radius: 20px;
            box-shadow: 0 0 15px;

    
}
#muaz ol{
    list-style-position: inside;
}

ul{
 list-style-type: none;
     margin: 0px;
    padding: 0px;
    width: 100%; 
  
}




.drop-item{
    
  display: none;
    position: relative;
    color: darkolivegreen;
     text-align: center;
    
}
.dropdownlist:hover .drop-item{
    
 display: block;
   
}

#img-st{

    border-radius: 10px;
}
 #memo{
    background-color: darkgray;
    position: fixed;
            border: 2px radius black;
            text-align: center;
            padding: 0px;
      width: 100%;
            box-shadow: 0 0 15px black;
            border-radius: 50px; 
   border-collapse: collapse;
   height: 70px;
} 
#memo td:hover{
    background-color: gray;
     border-radius: 50px;
}
 








